{% extends "base.html.twig" %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retourner à mon compte</a>
    <h5>{{notif}}</h5>
    <hr>
    {{form(form)}}
{% endblock %}