.user-btn {
    color: white !important;
    font-size: 18px;
}

.user-btn-grp {
    color: white;
    font-size: 18px;
}

.user-btn:hover {
    color: gray;
    text-underline: none;
}

.footer-custom {
    text-align: center;
    position: fixed;
    bottom: 0;
    width:100% !important;
    background-color: #dfeaff;
    padding: 20px;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item .product_subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}
.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
}
.img-product {
    height: 350px;
    width: 350px;
}
.product-page-price {
    font-size: 18px;
}