{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block content %}
    <div class="row">
        <h1>Je passe ma commande</h1> <br>
        <hr>
        <div style="width: 100%">
            <h5>Choisissez vos préfèrences avant de passer votre commande</h5>
        </div>
        <div class="col-md-6">
            <b>- Choisissez mon adresse de livraison</b><br>
            <b>- Choisissez mon transporteur </b><br>
        </div>
        <div class="col-md-6">
            <b>- Récap de votre commande </b><br>
            <b>- Boutton pour payer</b> <br>
        </div>
    </div>

{% endblock %}
